In [1]:
import re

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum
from pyspark.sql.functions import count as Fcount
from pyspark.sql.functions import min as Fmin
from pyspark.sql.functions import max as Fmax
from pyspark.sql.window import Window

In [2]:
dfpath = '../data/medium-sparkify-event-data.json'
spark = SparkSession\
        .builder\
        .appName('sparkify_etl')\
        .getOrCreate()

df = spark.read.json(dfpath)

# EDA

In [3]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [4]:
for column in df.columns:
    df.describe(column).show()

+-------+-----------------+
|summary|           artist|
+-------+-----------------+
|  count|           432877|
|   mean|527.5289537712895|
| stddev|966.1072451772758|
|    min|              !!!|
|    max|ÃÂlafur Arnalds|
+-------+-----------------+

+-------+----------+
|summary|      auth|
+-------+----------+
|  count|    543705|
|   mean|      null|
| stddev|      null|
|    min| Cancelled|
|    max|Logged Out|
+-------+----------+

+-------+---------+
|summary|firstName|
+-------+---------+
|  count|   528005|
|   mean|     null|
| stddev|     null|
|    min|  Aaliyah|
|    max|   Zyonna|
+-------+---------+

+-------+------+
|summary|gender|
+-------+------+
|  count|528005|
|   mean|  null|
| stddev|  null|
|    min|     F|
|    max|     M|
+-------+------+

+-------+------------------+
|summary|     itemInSession|
+-------+------------------+
|  count|            543705|
|   mean|107.30629109535502|
| stddev|116.72350849188155|
|    min|                 0|
|    max|              1005|
+-------+------------------+

+-------+--------+
|summary|lastName|
+-------+--------+
|  count|  528005|
|   mean|    null|
| stddev|    null|
|    min|  Abbott|
|    max|  Wright|
+-------+--------+

+-------+------------------+
|summary|            length|
+-------+------------------+
|  count|            432877|
|   mean|248.66459278007548|
| stddev| 98.41266955052032|
|    min|           0.78322|
|    max|        3024.66567|
+-------+------------------+

+-------+------+
|summary| level|
+-------+------+
|  count|543705|
|   mean|  null|
| stddev|  null|
|    min|  free|
|    max|  paid|
+-------+------+

+-------+----------------+
|summary|        location|
+-------+----------------+
|  count|          528005|
|   mean|            null|
| stddev|            null|
|    min|       Akron, OH|
|    max|York-Hanover, PA|
+-------+----------------+

+-------+------+
|summary|method|
+-------+------+
|  count|543705|
|   mean|  null|
| stddev|  null|
|    min|   GET|
|    max|   PUT|
+-------+------+

+-------+-------+
|summary|   page|
+-------+-------+
|  count| 543705|
|   mean|   null|
| stddev|   null|
|    min|  About|
|    max|Upgrade|
+-------+-------+

+-------+--------------------+
|summary|        registration|
+-------+--------------------+
|  count|              528005|
|   mean|1.535523414863919...|
| stddev| 3.078725492995913E9|
|    min|       1509854193000|
|    max|       1543073874000|
+-------+--------------------+

+-------+------------------+
|summary|         sessionId|
+-------+------------------+
|  count|            543705|
|   mean|2040.8143533717732|
| stddev|1434.3389310782645|
|    min|                 1|
|    max|              4808|
+-------+------------------+

+-------+--------------------+
|summary|                song|
+-------+--------------------+
|  count|              432877|
|   mean|                 NaN|
| stddev|                 NaN|
|    min|ÃÂg ÃÂtti Gr...|
|    max|ÃÂ¾etta Gerist Ã...|
+-------+--------------------+

+-------+------------------+
|summary|            status|
+-------+------------------+
|  count|            543705|
|   mean|210.01829116892432|
| stddev|31.471919021567246|
|    min|               200|
|    max|               404|
+-------+------------------+

+-------+--------------------+
|summary|                  ts|
+-------+--------------------+
|  count|              543705|
|   mean|1.540964541209823...|
| stddev|1.4820571449102201E9|
|    min|       1538352011000|
|    max|       1543622466000|
+-------+--------------------+

+-------+--------------------+
|summary|           userAgent|
+-------+--------------------+
|  count|              528005|
|   mean|                null|
| stddev|                null|
|    min|"Mozilla/5.0 (Mac...|
|    max|Mozilla/5.0 (comp...|
+-------+--------------------+

+-------+------------------+
|summary|            userId|
+-------+------------------+
|  count|            543705|
|   mean| 60268.42669103512|
| stddev|109898.82324176568|
|    min|                  |
|    max|                99|
+-------+------------------+

In [5]:
for column in df.dtypes:
    if column[1] == 'string':
        df.select(column[0]).drop_duplicates().show()

+--------------------+
|              artist|
+--------------------+
|      The Black Keys|
|        Yann Tiersen|
|    Jane's Addiction|
|          Tim Hughes|
|Dashboard Confess...|
|                Silk|
|Yonder Mountain S...|
|            La Shica|
|        Elvis Crespo|
|         Silverstein|
|         Eva Cassidy|
|        Generation X|
|     Robyn Hitchcock|
|           Kate Nash|
|       Jupiter Jones|
|           Los Lobos|
|               Rufio|
|     Drive Like Jehu|
|       Yuichi Tamate|
|      Jarabe De Palo|
+--------------------+
only showing top 20 rows

+----------+
|      auth|
+----------+
|Logged Out|
| Cancelled|
|     Guest|
| Logged In|
+----------+

+---------+
|firstName|
+---------+
|   Maddox|
|    Lucas|
|   Karter|
|    Grace|
|    Irvin|
|  Janiyah|
| Antonina|
|    Allan|
|  Lorelei|
|    Devyn|
|    Bodhi|
|  Adriana|
| Isabella|
|  Everett|
|    James|
| Kamalani|
|    Wyatt|
|     Zola|
|     Nora|
|    Issac|
+---------+
only showing top 20 rows

+------+
|gender|
+------+
|     F|
|  null|
|     M|
+------+

+---------+
| lastName|
+---------+
|Castaneda|
| Harrison|
|   Porter|
| Thornton|
|    Scott|
|Robertson|
|   Wilson|
|     Pena|
|    Jones|
|     Boyd|
|   Santos|
| Crawford|
|    Knapp|
|  Sanchez|
|   Walton|
| Franklin|
|   Henson|
|  Aguilar|
|    Davis|
|   Nguyen|
+---------+
only showing top 20 rows

+-----+
|level|
+-----+
| free|
| paid|
+-----+

+--------------------+
|            location|
+--------------------+
|     Gainesville, FL|
|Atlantic City-Ham...|
|        Richmond, VA|
|          Tucson, AZ|
|       Oskaloosa, IA|
|Deltona-Daytona B...|
|San Diego-Carlsba...|
|Cleveland-Elyria, OH|
|         Medford, OR|
|Kingsport-Bristol...|
|New Haven-Milford...|
|Birmingham-Hoover...|
|  Corpus Christi, TX|
|          Mobile, AL|
|         Dubuque, IA|
|Las Vegas-Henders...|
|  Killeen-Temple, TX|
|     Ottawa-Peru, IL|
|      Boise City, ID|
|Bremerton-Silverd...|
+--------------------+
only showing top 20 rows

+------+
|method|
+------+
|   PUT|
|   GET|
+------+

+--------------------+
|                page|
+--------------------+
|              Cancel|
|    Submit Downgrade|
|         Thumbs Down|
|                Home|
|           Downgrade|
|         Roll Advert|
|              Logout|
|       Save Settings|
|Cancellation Conf...|
|               About|
| Submit Registration|
|            Settings|
|               Login|
|            Register|
|     Add to Playlist|
|          Add Friend|
|            NextSong|
|           Thumbs Up|
|                Help|
|             Upgrade|
+--------------------+
only showing top 20 rows

+--------------------+
|                song|
+--------------------+
|             Sitting|
|              Heaven|
|Turn Your Lights ...|
|Never Gonna Be Al...|
|  Setting vs. Rising|
|What's A Broken H...|
|          Nightmares|
|       One Sweet Day|
|            El Colmo|
|   Two Ocean Plateau|
|              Remedy|
|            Kiss Off|
|    Mood For Trouble|
|         Anywhere Is|
|           Explosive|
|         TULENLIEKKI|
|Forgotten (Lost A...|
|          Sea-Shells|
|      Billy Breathes|
|         AquaCityBoy|
+--------------------+
only showing top 20 rows

+--------------------+
|           userAgent|
+--------------------+
|"Mozilla/5.0 (Mac...|
|"Mozilla/5.0 (Win...|
|Mozilla/5.0 (X11;...|
|"Mozilla/5.0 (Mac...|
|"Mozilla/5.0 (Mac...|
|Mozilla/5.0 (Maci...|
|Mozilla/5.0 (Wind...|
|Mozilla/5.0 (Wind...|
|Mozilla/5.0 (comp...|
|"Mozilla/5.0 (Win...|
|Mozilla/5.0 (Maci...|
|"Mozilla/5.0 (Mac...|
|Mozilla/5.0 (Wind...|
|"Mozilla/5.0 (Win...|
|                null|
|"Mozilla/5.0 (iPh...|
|"Mozilla/5.0 (Win...|
|Mozilla/5.0 (Wind...|
|"Mozilla/5.0 (Mac...|
|Mozilla/5.0 (Wind...|
+--------------------+
only showing top 20 rows

+------+
|userId|
+------+
|   296|
|100010|
|200002|
|   125|
|    51|
|   124|
|     7|
|200037|
|   169|
|   205|
|   272|
|    54|
|   282|
|   232|
|   234|
|    15|
|   155|
|200043|
|   154|
|   132|
+------+
only showing top 20 rows

In [6]:
df_size = df.count()

for column in df.columns:
    missing_values = df_size - df.select(column).filter(df[column] != "").na.drop().count()
    print(f'{column}: {missing_values} missing values')

artist: 110828 missing values
auth: 0 missing values
firstName: 15700 missing values
gender: 15700 missing values
itemInSession: 543705 missing values
lastName: 15700 missing values
length: 543705 missing values
level: 0 missing values
location: 15700 missing values
method: 0 missing values
page: 0 missing values
registration: 543705 missing values
sessionId: 543705 missing values
song: 110828 missing values
status: 543705 missing values
ts: 543705 missing values
userAgent: 15700 missing values
userId: 15700 missing values

In [7]:
df_size = df.filter(df.auth.isin(['Logged Out', 'Guest']) == False).count()

for column in df.columns:
    missing_values = ((df_size - df.filter(df.auth.isin(['Logged Out', 'Guest']) == False)\
                                    .select(column)\
                                    .filter(df[column].cast(StringType()) != "")\
                                    .na.drop()\
                                    .count()) 
                        / df_size) * 100
    print(f'{column}: {missing_values:.2f} % missing values')

artist: 18.02 % missing values
auth: 0.00 % missing values
firstName: 0.00 % missing values
gender: 0.00 % missing values
itemInSession: 0.00 % missing values
lastName: 0.00 % missing values
length: 18.02 % missing values
level: 0.00 % missing values
location: 0.00 % missing values
method: 0.00 % missing values
page: 0.00 % missing values
registration: 0.00 % missing values
sessionId: 0.00 % missing values
song: 18.02 % missing values
status: 0.00 % missing values
ts: 0.00 % missing values
userAgent: 0.00 % missing values
userId: 0.00 % missing values

All missing values for the `userId` column are created by users that are either `Logged Out`, or logged in as a `Guest`.

The empty values for `Artist`, `Song` and `Length` are most likely due not no song being played at the time of the event. 

It is also important to note, that the `userId` is sometimes an empty string, not NaN

# Clean data

As there is no value in looking at users that are not logged in for churn analysis - their entries will be disregarded. 
The empty `Artist`, `Song` and `Length` values will not be removed, as the rest of their rows provide valuable data.

In [8]:
df = df.filter(df.auth.isin(['Logged Out', 'Guest']) == False)

In [9]:
def detect_os(column):
    detect = re.findall(r'\((\w+)', column)[0]
    if detect in ['iPhone', 'iPad', 'Macintosh']:
        return 'Apple'
    elif detect in ['Windows', 'compatible']:
        return'Microsoft'
    elif detect in ['X11']:
        return'Linux'
    else:
        return 'Not Detected'

detect_os_udf = udf(detect_os)
df = df.withColumn('platform', detect_os_udf(df.userAgent)).withColumn('ageHours', (df.ts - df.registration)/3600000)

In [10]:
flag_cancellation_event = udf(lambda x: 1 if x == "Cancellation Confirmation" else 0, IntegerType())
df_churn = df.withColumn('ChurnFlag', flag_cancellation_event('page'))
windowed = Window.partitionBy('userId').orderBy(asc('ts')).rangeBetween(Window.unboundedPreceding, 0)
df_churn = df_churn.withColumn('Churned', Fsum('ChurnFlag').over(windowed))
df_churn.filter(df_churn.Churned == 1).show()

+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+--------------------+-------------+---------+----+------+-------------+--------------------+------+---------+------------------+---------+-------+
|artist|     auth|firstName|gender|itemInSession| lastName|length|level|            location|method|                page| registration|sessionId|song|status|           ts|           userAgent|userId| platform|          ageHours|ChurnFlag|Churned|
+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+--------------------+-------------+---------+----+------+-------------+--------------------+------+---------+------------------+---------+-------+
|  null|Cancelled| Darianna|     F|           67|Carpenter|  null| free|Bridgeport-Stamfo...|   GET|Cancellation Conf...|1538016340000|      166|null|   200|1539254318000|"Mozilla/5.0 (iPh...|100010|    Apple| 343.8827777777778|        1|      1|
|  null|Cancelled|  Dominic|     M|          138|   Torres|  null| paid|Chicago-Napervill...|   GET|Cancellation Conf...|1536269906000|      239|null|   200|1540877026000|"Mozilla/5.0 (iPh...|200002|    Apple|1279.7555555555555|        1|      1|
|  null|Cancelled| Angelynn|     F|           20|   Coffey|  null| paid|Allentown-Bethleh...|   GET|Cancellation Conf...|1536885688000|     1228|null|   200|1539187234000|"Mozilla/5.0 (Mac...|   296|    Apple| 639.3183333333334|        1|      1|
|  null|Cancelled|   Nicole|     F|           44|     Beck|  null| paid|Vineland-Bridgeto...|   GET|Cancellation Conf...|1532224335000|     3475|null|   200|1541948983000|"Mozilla/5.0 (Mac...|   124|    Apple| 2701.291111111111|        1|      1|
|  null|Cancelled|    Ethan|     M|          180|  Johnson|  null| paid|Lexington-Fayette...|   GET|Cancellation Conf...|1538080987000|     1443|null|   200|1539709266000|"Mozilla/5.0 (Win...|    51|Microsoft| 452.2997222222222|        1|      1|
|  null|Cancelled|    Wyatt|     M|           59|Blackwell|  null| free|     Columbus, GA-AL|   GET|Cancellation Conf...|1536671185000|      362|null|   200|1540347849000|"Mozilla/5.0 (iPh...|200037|    Apple|1021.2955555555556|        1|      1|
|  null|Cancelled|     Jean|     M|          218|  Bennett|  null| paid|New Orleans-Metai...|   GET|Cancellation Conf...|1537953130000|     2922|null|   200|1541087401000|Mozilla/5.0 (Wind...|   234|Microsoft| 870.6308333333334|        1|      1|
|  null|Cancelled|    Alexi|     F|            7|   Warren|  null| paid|Spokane-Spokane V...|   GET|Cancellation Conf...|1532482662000|     1010|null|   200|1538987586000|Mozilla/5.0 (Wind...|    54|Microsoft|1806.9233333333334|        1|      1|
|  null|Cancelled|  Rodrigo|     M|          239|    Carey|  null| paid|New York-Newark-J...|   GET|Cancellation Conf...|1535389443000|      237|null|   200|1540103857000|"Mozilla/5.0 (Win...|100014|Microsoft|1309.5594444444444|        1|      1|
|  null|Cancelled|    Sadie|     F|            3|    Jones|  null| paid|Denver-Aurora-Lak...|   GET|Cancellation Conf...|1537054553000|      659|null|   200|1539041513000|"Mozilla/5.0 (Mac...|   132|    Apple| 551.9333333333333|        1|      1|
|  null|Cancelled|   Oliver|     M|           17|      Fry|  null| free|San Francisco-Oak...|   GET|Cancellation Conf...|1538048434000|     1035|null|   200|1539016481000|"Mozilla/5.0 (Mac...|   154|    Apple|268.90194444444444|        1|      1|
|  null|Cancelled|    Isaac|     M|          193|   Miller|  null| paid|Seattle-Tacoma-Be...|   GET|Cancellation Conf...|1538201832000|      862|null|   200|1538800531000|Mozilla/5.0 (Wind...|   200|Microsoft|166.30527777777777|        1|      1|
|  null|Cancelled|      Zoe|     F|           94|    Patel|  null| paid|Providence-Warwic...|   GET|Cancellation Conf...|1532554781000|     3700|null|   200|1543018922000|Mozilla/5.0 (Wind...|    11|Microsoft|2906.7058333333334|        1|      1|
|  null|Cancelled|   Wesley|     M|          436| Thornton|  null| paid|Deltona-Daytona B...|   GET|Cancellation Conf...|1536659447000|     4253|null|   200|1543337414000|"Mozilla/5.0 (Mac...|    34|    Apple|1854.9908333333333|        1|      1|
|  null|Logged In|   Lakyla|     F|           58|   Porter|  null| paid|         Modesto, CA|   PUT|              Cancel|1535849930000|     3368|null|   307|1542055421000|Mozilla/5.0 (Wind...|   162|Microsoft|         1723.7475|        0|      1|
|  null|Cancelled|   Lakyla|     F|           59|   Porter|  null| paid|         Modesto, CA|   GET|Cancellation Conf...|1535849930000|     3368|null|   200|1542055421000|Mozilla/5.0 (Wind...|   162|Microsoft|         1723.7475|        1|      1|
|  null|Cancelled|   Justyn|     M|           68|     Cruz|  null| paid|           Akron, OH|   GET|Cancellation Conf...|1534713653000|      446|null|   200|1541408793000|"Mozilla/5.0 (Mac...|200013|    Apple|1859.7611111111112|        1|      1|
|  null|Cancelled|   Teagan|     F|           48|  Roberts|  null| paid|New Philadelphia-...|   GET|Cancellation Conf...|1537634865000|     1927|null|   200|1539968001000|Mozilla/5.0 (Wind...|    28|Microsoft| 648.0933333333334|        1|      1|
|  null|Cancelled|  Brayden|     M|           28|   Thomas|  null| paid|Los Angeles-Long ...|   GET|Cancellation Conf...|1534133898000|     4723|null|   200|1543570037000|"Mozilla/5.0 (Mac...|    85|    Apple|2621.1497222222224|        1|      1|
|  null|Cancelled|     Emma|     F|           41|      Lee|  null| paid|   Winston-Salem, NC|   GET|Cancellation Conf...|1536597540000|     2575|null|   200|1541147487000|"Mozilla/5.0 (Win...|    16|Microsoft|1263.8741666666667|        1|      1|
+------+---------+---------+------+-------------+---------+------+-----+--------------------+------+--------------------+-------------+---------+----+------+-------------+--------------------+------+---------+------------------+---------+-------+
only showing top 20 rows